body {
   background-color: #81c8d4;
}

div {
   text-align: center;
   width: 150px;
   height: 150px;
   background-color: #96db5e;
   border: 1px solid black;
   margin: 5px;
   transition-duration: 2s;
}

#transform1:hover {
   transform: rotate(90deg);
}
#transform2:hover {
   transform: translate(100px, 300px);
}
#transform3:hover {
   transform: scale(4, 4);
}

