body {
   background-color: #9cabd6;
}

header {
   background-color: #3060e4
}

div {
   background-color: #3060e4;
   border: 2px solid #132d72;
   padding: 10px;
   margin: 5px auto;
   width: 75%;
}

div h3 {
   text-align: center;
}

table, th, td {
   border: 1px solid black;
   text-align: left;
   border-collapse: collapse;
}

#loadStudents, #registrationInfo {
   background-color: #8cabff;
}

#info {
   background-color: #4e79ec;
}

input {
   margin: auto;
}
