.float-bottom {
   margin-bottom: 0;
}

.error {
   color: red;
   display: none;
}

#top, #bottom {
   background-color: #DBCD29;
}

#addCat {
   display: none;
}

#cat-card:hover {
   background-color: #DBCD29;
}