<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
   <header>
      <% include ../partials/header %>
   </header>
   <div class="m-auto w-25 border rounded">
      Login<br>
      <span id="login_error"></span>
      <input type="text" id="login_email" class="border rounded" placeholder="Email">
      <input type="password" id="login_password" class="border rounded" placeholder="Password">
      <button type="button" class="btn-primary border rounded" onclick="login()">Login</button>
   </div>
   <div class="mx-auto my-2 w-25 border rounded">
      Sign Up<br>
      <span id="signup_error"></span>
      <input type="text" id="email" class="border rounded" placeholder="Email"><br>
      <input type="password" id="password" class="border rounded" placeholder="Password">
      <input type="password" id="password_verify" class="border rounded" placeholder="Verify password">
      <button type="button" class="btn-primary border rounded" onclick="createAccount()">Create account</button>
   </div>
</body>
</html>