body {
   background-color: #dfecb0;
}

div {
   width: 60%;
   margin: 20px auto;
   text-align: center;
   background-color: #9a9aa1;
   border: 2px solid grey;
}

header {
   background-color: #9a9aa1;
   width: 100%;
   text-align: center;
}

div ul {
   width: 20%;
   margin: auto;
   text-align: left;
}